[submodule "tldr_projects/sudoku_bot"]
	path = tldr_projects/sudoku_bot
	url = https://github.com/SB-Jr/sudoku_bot.git
[submodule "machine_learning_concepts"]
	path = tldr_concepts
	url = https://github.com/SB-Jr/machine_learning_concepts.git
[submodule "tldr_tensorflow_notes"]
	path = tldr_tensorflow_notes
	url = https://github.com/SB-Jr/tldr_tensorflow.git
[submodule "tldr_plotting_notes"]
	path = tldr_plotting_notes
	url = https://github.com/SB-Jr/tldr_plotting.git
[submodule "tldr_kaggle_notebooks"]
	path = tldr_kaggle_notebooks
	url = https://github.com/SB-Jr/kaggle_competitions.git
[submodule "tldr_keras_notes"]
	path = tldr_keras_notes
	url = https://github.com/SB-Jr/tldr_keras.git
[submodule "tldr_pandas_notes"]
	path = tldr_pandas_notes
	url = https://github.com/SB-Jr/tldr_pandas.git
[submodule "tldr_paper_notes"]
	path = tldr_paper_notes
	url = https://github.com/SB-Jr/tldr_papers.git
[submodule "tldr_projects/cats_vs_dogs_classification"]
	path = tldr_projects/cats_vs_dogs_classification
	url = https://github.com/SB-Jr/Cats_Vs_Dogs_Classification.git
[submodule "tld_concept_notes"]
	path = tld_concept_notes
	url = https://github.com/SB-Jr/machine_learning_concepts.git
